name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

    - name: Install xk6
      run: go install go.k6.io/xk6/cmd/xk6@latest

    - name: Go tests
      run: go test -race ./...

    - name: Test from source
      run: ./tests.sh